<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mysql_host" value="database_host"/>
    <add key="mysql_port" value="database_port"/>
    <add key="mysql_db" value="database_name"/>
    <add key="mysql_user" value="database_user"/>
    <add key="mysql_pass" value="database_password"/>
  </appSettings>
</configuration>